.reviews, .review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ratingsSummary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.topRow{
    display: flex;
}