.card{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    display: flex; 
    flex-direction: column;
    text-align: center;
 
}
    
.card-img img{
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.spotCard{
    text-decoration: none;
    color: black;
}

img{
    width: 25%;
    height: 25%;
}


/* .image_container .inner{
    width: 200px;
    height: 200px;
    background-color: white;
} */