form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15%;
}

h1{
    text-align: center;
}

label, button{
    margin-top: 2%;
}

.errors {
    color: red;
}